// Place all the styles related to the A controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td.green {
  background: lightgreen !important;
}

.square.small {
  width: 50px;
  height: 50px;
  //position: absolute;
  color: white;
  font-color: white;
  border-style: solid;
  border-width: 1px;
  padding: 0 0 0 0;
}

.blank {
  background-color: lightgray;
  color: lightgray;
}

.cs, .bs, .ws, .wc, .bc, .legal {
  border-radius: 50%;
}

.cs {
  background: red;
  border-radius: 3%;
  -ms-transform: rotate(45deg) scale(0.6, 0.6); /* IE 9 */
  -webkit-transform: rotate(45deg) scale(0.6, 0.6); /* Chrome, Safari, Opera */
  transform: rotate(45deg) scale(0.6, 0.6);
}

.bs, .ws {
  border-radius: 3%;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.bs {
  background-color: black;
  color: white;
}

.ws {
  background-color: white;
  font-color: black;
}

.bc, .wc {
  border-radius: 50%;
}

.bc, {
  background-color: black;
  color: white;
}

.wc {
  background-color: white;
  font-color: black;
}

.legal {
  background-color: #808000;
}
