<table>
<% 5.times do %>
  <tr>
  <% 5.times do %>
    <td class="square big">

      <% if local_assigns[:m] %>
        <% e = m.shift %>
        <% c = 'bs' if e == 'bs' %>
        <% c = 'ws' if e == 'ws' %>
        <% c = 'bc' if e == 'bc' %>
        <% c = 'wc' if e == 'wc' %>
        <% c = 'blank' if e == '--' %>
        <div class="<%=c%>"><span><%=e%></span></div>
      <% end %>

    </td>
  <% end %>
  </tr>
<% end %>
</table>
